  <div class="container text-center mt-5">
    <h1 class="text-center mb-4 text-primary">Employee Management System  </h1>

    <div class="d-flex justify-content-center my-5 flex-wrap" style="gap: 60px;">
      <a href="/emp/add-emp" class="btn btn-lg btn-primary btn-custom">Add Employee</a>
      <a href="/emp/show-all-emp" class="btn btn-lg btn-success btn-custom">Show Employee</a>
      <a href="/emp/delete-all-emp" class="btn btn-lg btn-danger btn-custom">Delete Employee</a>
      {{!-- <a href="/emp/updateEmployee" class="btn btn-lg btn-info btn-custom">Update Employee</a> --}}
    </div>
  </div>
